.caja{
    background-color: #fff159;
    height: 5rem;
    
}

.logo_imgen{
    height: 80px;
    transition: .5s;
}

.logo_imgen:hover{
    -webkit-filter:brightness(2);
    filter:brightness(2);
}
