.caja{
    /*background-color: #fff159;
    height: 5rem;*/
    padding: 15px;
}
.cajaTitulo{
    margin-bottom: 15px;
}
.logo_imgen{
    height: 80px;
    transition: .5s;
}
.colorIcon{
    transition: .5s;
}

.logo_imgen:hover, .colorIcon:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.link_login{
    text-decoration: none;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-style:normal;
    font-weight: bold;
}

.colorIcon{
    color: orangered;;
    padding: 0 10px 0;
}