/*Estilos Css*/
body{
    background-color:#f1a900;
}
.menu{
    margin: 0 auto;
    
    border-bottom: solid 3px #fff159;
    /*box-shadow: 3px 3px 3px rgb(59, 59, 59);*/
}
.menu_links{
    margin: 0 5%;
    
}
.links_decoration{
    padding: 12px;
    height: 3rem;
    width: 15rem;
    background-color:  #fff159;
    
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    text-align: center;
    transition: .6S;
}
.links_decoration:hover{
    color: rgb(54, 54, 54);
    background: orangered;

}
.act{
    background: orangered;
}
.act:hover{
    background-color: white;
}
.buscados, .encontrados{
    background-color: rgb(208 134 24 / 27%);
    margin: 7rem auto;
    max-width: 80%;
    /* border: solid 1px gray; */
    border-radius: 15px;
    box-shadow: 0 0 10px #000000d5;
}
.buscados_form{
    background-color: rgb(208 134 24 / 27%);
    margin: 3rem auto;
    max-width: 100%;
    /*border: solid 1px gray;*/
    border-radius: 15px;
    box-shadow: 0 0 10px #000000d5;
}
.perfilPets{
    
    background-color: rgb(208 134 24 / 27%);
    margin: 0 auto;
    /*max-width: 1200px;*/
    /*border: solid 1px gray;*/
    border-radius: 15px;
    box-shadow: 0 0 10px #000000d5;
}

.buscados_titulo, .encontrados_titulo{
    background-color: #f0e537;
    background-image: linear-gradient(90deg, #f0e537 0%, #F76B1C 100%);
    margin: 0 auto;
    padding: 16px;
}
.buscados_titulo_estilo, .encontrados_titulo_estilo{
    font-family: 'Open Sans', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}
.btn_todo{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #263850;
}

.tarjeta_buscados, .tarjeta_encontrados{ 
    margin: 0 auto;
    padding: 32px;
    
}
.wh_box{
    background-color: rgb(48, 48, 48);
    border-bottom: 1px solid  #f0e537;
    height: 174px;
    width: 174px;
}
.bng_box{
    position: relative;
    max-width: 174px;
    max-height: 174px;
    overflow:hidden;
}

.img{
    width: 100%;
    height: 100%;
}
.descripcion{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    /*align-self: stretch;*/
}
.ubicacion{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    align-self: stretch;
}
.mascotas{
    background-color:rgba(255, 251, 0, 0.356);
    max-width: 174px;
    height: 250px;
    
    border-radius: 0.4rem;
   
}
.mascotas:hover{
    background-color: rgba(255, 251, 0, 0.3);
    transition: all .5s;
    transform: scale(1.1);
    box-shadow: 0 0 10px #000000d5;
}
.link_mascotas{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

.detalles_tarjeta{
    padding: 5px;
}

/*Main pagina buscados*/
.buscados_cuerpo{
    /*margin: 0 5rem;*/
}
.perfil_cuerpo{
    margin: 3rem auto;
    max-width: 80%;
}
.titulo_mapa{
    font-family: 'Open Sans', sans-serif;
    color: #263850;
}
/*Main pagina detalle_pets*/
.contenido_cargaPets{
    background-color: rgb(208 134 24 / 27%);
border-radius: 15px;
    box-shadow: 0 0 10px #000000d5;
    
}
.detalle_cuerpo, .carga_pets{
    width: 80%;
    margin: 5% auto;
    
}
.formulario_carga{
    width: 80%;
    margin: 5% auto;
}
.title_addPets{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: bold;
    color: #464646;
    padding: 10px 10px;
}
.pets_detalles{
    padding: 3rem;
}
.img_pets{
    width: 350px;
    box-shadow: 0 0 10px #000000d5;
}
.detalles{
    padding: 2rem;
}
.raza_detalles{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 19px;
    padding: 10px 10px;
}
.color_detalles{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #464646;
    padding: 10px 10px;
}
.descripcion_detalles{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 1rem;
    color: #464646;
    padding: 10px 10px;
}
.box_detalle_pets{
    background-color: rgb(208 134 24 / 27%);
    border-radius: 5px;
    box-shadow: 0 0 10px #000000d5;
    max-width: 100%;
    margin: 0 10%;
}
.box_botonInicio{
    margin: 0 auto;
    background-color: rgb(208 134 24 / 27%);
    width: 100%;
    height: 32vw;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000d5;
    
}
.box_detalle_user{
    display: none;
    background-color: #f0e537;
    height: 60px;
   
}
.form{
    width: 100%;
    
}
.det{
    margin: 0 10%;
}
.espacio{
    margin: 10px;
}
.user_detalles{
    margin: 0 auto;
    padding: 5px;
}
.img_user{
    height: 50px;
    border: 2px solid #F76B1C;
    border-radius: 50%;
}
.email_stylos{
    padding-left: 10px;
}
.text_email{
    text-decoration: none;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-style:normal;
    font-weight: bold;
    font-size: 2rem;
}
.articulo_edicion {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    margin-left: 6rem;
    position: absolute;
}
.btn_borrar {
    background: transparent;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
}
.position_icon {
    padding: 5px;
}

