/*Estilos Css*/
body{
    background-color: #f0a700;
}
.menu{
    margin: 0 auto;
    
   /* border-bottom: solid 3px #040404;
    box-shadow: 3px 3px 3px rgb(59, 59, 59);*/
}
.menu_links{
    margin: 0 5%;
    
}
.links_decoration{
    padding: 12px;
    height: 3rem;
    width: 15rem;
    /*background-color:  #fff159;*/
    
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Lemon', cursive;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    text-align: center;
    transition: .6S;
}
.links_decoration:hover{
    transform: scale(1.1);
    color: orangered;
    cursor: pointer;

}
.act{
    background: orangered;
}
.act:hover{
    background-color: white;
}
.buscados, .encontrados{
    
    margin: 7rem 5rem;
    max-width: 100%;
    /* border: solid 1px gray; */

}
.buscados_form{
    
    
    max-width: 100%;
    /*border: solid 1px gray;*/

}
.espacio_margin{
    
    padding: 5rem;
}
.perfilPets{
    

    margin: 0;
    /*max-width: 1200px;*/
    /*border: solid 1px gray;*/

}

.buscados_titulo, .encontrados_titulo{
    margin: 0 auto;
    padding: 16px;
}
.buscados_titulo_estilo, .encontrados_titulo_estilo{
    font-family: 'Lemon', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: black;
}
.btn_todo{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #263850;
}

.tarjeta_buscados, .tarjeta_encontrados{ 
    margin: 0 auto;
    padding: 32px;
    
}
.wh_box{
    background-color: rgb(48, 48, 48);
    border-bottom: 1px solid  #f0e537;
    height: 174px;
    width: 174px;
    overflow: hidden;
	border-radius: 50%;
	border: rgb(225, 100, 10) solid 5px;
    animation: img_Rotate 5s backwards;
	animation-delay: 2s;
}

@keyframes img_Rotate{
    0%{
        clip-path: circle(0% at 50% 50%); 
      }
     30%,100%{
        clip-path: circle(50% at 50% 50%);
      }
    }

.bng_box{
    max-width: 174px;
    max-height: 174px;
}

.img{
    width: 100%;
    height: 100%;
}
.descripcion{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    /*align-self: stretch;*/
}
.ubicacion{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    align-self: stretch;
}
.mascotas{
    max-width: 174px;
    height: 250px;
    text-align: center;
   
}
.mascotas:hover{

    transition: all .5s;
    transform: scale(1.1);
}
.link_mascotas{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}

.detalles_tarjeta{
    padding: 5px;
}

/*Main pagina buscados*/
.buscados_cuerpo{
    /*margin: 0 5rem;*/
}
.perfil_cuerpo{
    margin: 7rem 5rem;

}
.titulo_mapa{
    font-family: 'Lemon', cursive;
    color: #000000;
}
/*Main pagina detalle_pets*/
.contenido_cargaPets{

    
}
.detalle_cuerpo, .carga_pets{
   
    margin: 7rem 5rem;
    
}
.formulario_carga{
    width: 80%;
    margin: 5% auto;
}
.title_addPets{
    font-family: 'Lemon', cursive;
    font-style: normal;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 10px 10px;
}
.pets_detalles{
    margin: 7rem auto;
}
.img_pets{
    width: 350px;
    box-shadow: 0 0 10px #000000d5;
}
.detalles{
    padding: 2rem;
}
.raza_detalles{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}
.content{
    text-align: center;
}
.btCuenta{
    text-decoration: none;
}
.miCuenta{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    transition: .5s;
}
.miCuenta:hover{
    color: orangered;
    cursor: pointer;

}
.color_detalles{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #464646;
    padding: 10px 10px;
   
}
.descripcion_detalles{
    font-family: 'Lemon', cursive;
    font-style: normal;
    font-size: 1rem;
    color: #464646;
    padding: 10px 10px;
    margin: 5rem;
}
.box_detalle_pets{
    
    max-width: 100%;
    margin: 0 10%;
}
.box_botonInicio{


    
}
.box_detalle_user{
    display: none;
    height: 60px;
   
}
.form{
    width: 100%;
    
}
.det{
    margin: 0 10%;
}
.espacio{
    margin: 10px;
}
.user_detalles{
    margin: 0 auto;
    padding: 5px;
}
.img_user{
    height: 50px;
    border: 2px solid #F76B1C;
    border-radius: 50%;
}
.email_stylos{
    padding-left: 10px;
}
.text_email{
    text-decoration: none;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-style:normal;
    font-weight: bold;
    font-size: 2rem;
}
.articulo_edicion {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    margin-left: 6rem;
    position: absolute;
}
.btn_borrar {
    background: transparent;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
}
.position_icon {
    padding: 5px;
}

